@charset "UTF-8";

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --color-bg-s: antiquewhite;
    --color-bg-s-img: black;
    --color-text1: whitesmoke;
    --color-title1: #2E2E2E;
    --size-title1: 43px;
    --size-subtitle1: 33px;
    --size-subtitle2: 19px;
}

body {
    text-rendering: optimizeLegibility;
    background-color: black;
}

a {
    text-decoration: none;
    color: #007bff;
}

ul, ol {
    list-style: none;
}

input, button, textarea, select {
    font: inherit;
    border: none;
    outline: none;
    background: none;
}

p {
    padding: 15px 0;
    margin: 0 30px;
}

h2, h3 {
    margin: 0 31px;
}

h2 {
    margin-bottom: 5px;
    font-size: var(--size-subtitle1);
}

h3 {
    font-size: 15px;
    font-weight: lighter;
    font-size: var(--size-subtitle2);
}

header {
    text-align: center;
    padding: 20px 10px;
    background-color: black;
}

header h1 {
    color: var(--color-text1);
    font-size: var(--size-title1);
}

section {
    text-align: right;
    padding: 50px 0;
    background-color: var(--color-bg-s);
}

#s-titulo {
    padding: 20px 0 25px 0;
    background-color: var(--color-text1);
}

.s-color {
    background-color: gray;
    padding: 140px 20px 140px 0;
}

.s-color p {
    color: aliceblue;
    font-size: 25px;
}

#image1 {
    background: black url("images/image1.jpg") center no-repeat fixed;
    background-size: cover;
}

#image1 p {
    color: black;
    font-size: 25px;
    padding: 20px;
    background-color: rgba(218, 212, 212, 0.5);
    border-radius: 5px;
}

#image2 {
    background: black url("images/image2.avif") center no-repeat fixed;
    background-size: cover;
}

#image2 p {
    color: white;
    font-size: 25px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}

footer {
    margin: 0px 0 3px 0;
    background-color: black;
    padding: 35px 40px;
}

footer > p {
    font-size: 15px;
    text-align: right;
    color: var(--color-text1);
    padding: 0;
    margin: 0;
}

.nextpage {
    font-size: 30px;
}